/* Setup CSS */

:root {
  /* Colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%); 
  --very-light-gray: hsl(0, 0%, 98%);

  /* Font */
  --font-family: 'Poppins';
  --font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  background-color: var(--very-light-gray);
}

/* Header */
header {
  width: 100%;
  text-align: center;
  color: var(--very-dark-blue);
  padding: 60px 0;
}

header h1 {
  font-weight: 200;
}

header h1 span {
  font-weight: 600;
}

header p {
  color: var(--grayish-blue);
  margin: 15px 0;
}

header p span::before {
  content: "\A";
  white-space: pre;
}


/* Feature */
.section-features {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-features {
  margin: 0 20px;
}

.feature {
  width: 300px;
  height: 200px;
  background-color: white;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 7px;
  position: relative;
  box-shadow: 0 10px 15px -5px hsl(228, 9%, 78%); 
}

.feature img {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.feature-1 { border-top: 5px solid var(--cyan); }
.feature-2 { border-top: 5px solid var(--red); }
.feature-3 { border-top: 5px solid var(--orange); }
.feature-4 { border-top: 5px solid var(--blue); }

.feature h3 {
  color: var(--very-dark-blue);
}

.feature p {
  margin-top: 10px;
  color: var(--grayish-blue);
}

/* Footer */

footer {
  display: flex;
  padding: 30px;
  margin-top: 30px;
  color: var(--very-light-gray);
  background-color: var(--very-dark-blue);
  justify-content: center;
}

footer p a {
  text-decoration: none;
  color: var(--blue);
}

@media (max-width: 375px) {

  :root {
    --font-size: 13px;
  }

  header h1 { font-size: 25px; }
  header p { 
    padding: 0 30px; 
  }

  header p span::before {
    content: "";
  }
  
  .section-features {
    display: flex;
    flex-direction: column;
  }

  .feature {
    width: 250px;
    height: 180px;
  }

  .feature h3 { font-size: 20px; }

}